.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Pagina harta google */
.container_mapa_google {
    width: 55vw;
    height: 33vw;
    position: absolute;
    top: 13vw;
    left: 14vw;
}

.dropdown_container {
    width: fit-content;
    height: 5vw;
    font-size: 60px;
    justify-content: center;
    margin-bottom: 1vw;
    color: white;
    font-family: retroholic;
    padding-left: 1vw;
    position: absolute;
    top: 8vw;
    left: 15vw;

}

.background_map_page {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
}

.background_map_page img {
    max-width: 100%;
    height: 100%;
    width:100%;
}

.add-remove {
    display: inline-flex;
}

.arrowup {
    height: 40px;
    width: 50px;
}

.arrowup img {
    width: 100%;
    height: 100%;
}

.arrowdown {
    height: 40px;
    width: 61px;
}

.bara_meniuri {
    width: 100%;
    position: absolute;
    top: 0%;
    height: 6vw;
    background: saddlebrown;
    display: none;
}

.titlu_pagina_harta {
    position: absolute;
    height: 70px;
    width: -moz-fit-content;
    width: fit-content;
    top: 3vw;
    color: white;
    font-size: 77px;
    padding-left: 0px;
    font-family: Retroholic;
    left: 16vw;

}

.element_dropdown {
    position: relative;
    z-index: 333;
    display: flex;
    color: black;
    margin-top: 0.5vw;
    background-color: beige;
    height: 2.2vw;
    font-size: 2vw;
    padding-left: 1vw;
}

.sidebar {
    max-width: 240px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: darkred;
    color: whitesmoke;
    position: fixed;
    height: 100%;
    top: 0;
}

.sidebar-subitem-text {
    font-size: 0.8rem;
}

.total {
    display: inline-flex;
}

/* pentru produse si cart */

.checkout button {
    width: 160px;
    height: 30px;
    font-size: 15px;
    border-radius: 8px;
    background-color: darkred;
    color: white;
    font-family: serif;


}
.cart_titlu{
    font-family: serif;
    font-size: 40px;
}
.cart_titlu ul{
    font-size: 20px;
}

.card-content span img{
height: 30px;
width: 30px;
margin-bottom: -6px;
margin-left: 10px;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    flex-wrap: wrap
}

.material-icons {
    font-size: 2.4em;
    cursor: pointer;

}

.material-icons img {
    width: 58px;
    height: 42px;
}
.remove_cart img{
    width: 55px;
    height: 42px;
}
.item-img{
    height: 230px;
    width: 275px;
}
.item-img img{
    max-width: 100%;
    max-height: 100%;
}

.card {
    margin: 10px;
    width: 400px;
    height: 300px;
    max-height: 300px;
}

.card .card-image .card-title {
    color: black;
}

.cart {
    margin-top: 40px;
}

.collection .collection-item {
    display: flex;
}

.collection-item.avatar .title {
    font-size: 20px;
    font-weight: 600;
    color: #ee6e73;
    display: block;
    margin-bottom: 20px;

}

.collection .collection-item img {
    padding-right: 20px;
}

.item-desc {
    align-self: center;
}

.brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
    display: block;
}

.nav-wrapper {
    height: 64px;
    line-height: 64px;

}

.right {
    float: right !important;
    display: inline-flex;
    margin-top: 0px;
}

.right li {
    list-style-type: none;
    margin-right: 20px;
    font-family: initial;
    font-size: 20px;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 70%;
    font-size: 20px;
}

.center_title {
    font-size: 7.92rem;
    line-height: 110%;
    margin: 1.9466666667rem 0 1.168rem 0;
    text-align: center;
    width: max-content;
    margin-right: auto;
    margin-left: auto;
    color: White;
    font-family: Franchise;
}

.card-title {
    font-size: x-large;
    font-weight: 700;
    color: wheat;
}

.card-content {
    color: darkred;
}

.App {
    width: 100%;
    height: 100%;
    position: absolute;
}

.container_register form {
    display: inline-grid;
    width: 100%;
    height: 100%;
}

.container_register {
    width: 365px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 45px;
}

.container_register button {
    background-color: darkred;
    color: white;
    border-radius: 15px;
    height: 32px;
    font-size: large;
    font-family: serif;
}

.container_register input {
    font-size: 16px;
    margin-bottom: 13px;
    height: 25px;
    background-color: burlywood;
    border-radius: 5px;
    font-family: serif;

}

.titlu_pagina_auth {
    z-index: 10;
    font-size: 30px;
    position: relative;
    text-align: center;
    padding-top: 33px;
    color: ghostwhite;
    font-family: serif;

}

.container_titlu_auth {
    width: 210px;
    height: 105px;
    margin: auto auto;
    top: 25px;
    position: relative;
}

.container_titlu_auth img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.politici input {
    height: auto;

}

.politici {
    display: inline-flex;
}

/* HOMEPAGE */

.homepage_title {
    font-family: Retroholic;
    font-size: 100px;
    position: absolute;
    left: 20%;
    top: 5%;
    color: whitesmoke;
}

.container_placi {
    width: 450px;
    height: 325px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 174px;

}

.container_buton1 {
    position: absolute;
    height: 140px;
    width: 200px;
    left: 0;
    top: 0;

}

.container_buton2 {
    position: absolute;
    height: 140px;
    width: 200px;
    right: 0;
    top: 0;
}

.container_buton3 {
    position: absolute;
    height: 140px;
    width: 200px;
    left: 0;
    bottom: 0;
}

.container_buton4 {
    position: absolute;
    height: 140px;
    width: 200px;
    right: 0;
    bottom: 0;
}

.container_buton1 img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.container_buton2 img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.container_buton3 img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.container_buton4 img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.text_home_button {
    z-index: 333;
    position: relative;
    top: 31%;
    font-size: 49px;
    color: whitesmoke;
    font-weight: 400;
    font-family: Retroholic;
}

.text_dr_sus {
    right: 25px;
    top: 5px;
    position: absolute;
    font-weight: 500;
    color: whitesmoke;
    font-size: 18px;
}
.card-image{
    display:inline-grid;
}
.product_image_container{
    width: 320px;
    height: 240px;
}
.card-image img {
    max-width: 100%;
    /* max-height: 100%; */
    vertical-align: middle;
    height: 90%;
}
.description_product{
    overflow-y: auto;
    height: 60px;
    width: 320px;
    margin: auto;
   
}

.description_product::-webkit-scrollbar {
    display: none;
  }

/* ADAUGA PRODUS */

.container_add_product {
    width: 350px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 90px;
}

.container_add_product form {
    display: inline-grid;
    width: 100%;
    height: 100%;
}

.container_add_product input {
    font-size: 16px;
    margin-bottom: 19px;
    height: 30px;
    background-color: burlywood;
    border-radius: 5px;
    font-family: serif;
}

.container_add_product button {
    background-color: darkred;
    color: white;
    border-radius: 15px;
    height: 32px;
    font-size: large;
    font-family: serif;
}

.title_addarticles {
    font-family: serif;
    font-size: 30px;
    margin-top: 25px;
    font-weight: 600;
    color: blanchedalmond;
}

.add_product_bifa {
    display: inline-flex;
}

.add_product_bifa input {
    height: auto;
}

.container_add_product label {
    font-weight: 600;
    text-align: left;
    margin-bottom: 19px;
}

.container_add_product select {
    height: 30px;
    background-color: burlywood;
    margin-left: 5px;
}

.container_register label {
    font-weight: 600;
    text-align: left;
    margin-bottom: 19px;
}

.container_register select {
    height: 30px;
    background-color: burlywood;
    margin-left: 5px;
}

.input_image input {
    background: none;
    font-weight: 800;
}

.input_image {
    text-align: left;
}

.sgproduct_container {
    width: 375px;
    height: 100%;
    text-align: left;
    font-size: 20px;
    font-family: serif;
    background-color: darkcyan;
    padding-left: 15px;
    padding-right: 5px;

}

.sgproduct_title {

    display: inline-flex;
}

.sgproduct_containertext {
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
    overflow-y: auto;
}

.sgproduct_containertext button {
    width: 60px;
}

.sgproduct_titleart {
    margin-bottom: 15px;
    font-size: 32px;
    padding-top: 15px;
}

.sgproduct_conditionals {
    margin-bottom: 15px;
    
}

.sgproduct_contact_button img {
    width: 50px;
    height: 100%;
}

.sgproduct_contact_button {
    height: 47px;
    display: inline-flex;
}

.sgproduct_button_text {
    height: fit-content;
    align-self: center;
    padding-right: 5px;
}

.container_sgrpoduct_total {
    position: absolute;
    top: 15%;
    left: 22%;
    height: 360px;
    display: inline-flex;
}

.image_container_sgproduct {
    height: 100%;
    width: 375px;
    margin-left: 100px;

    align-self: center;
}

.image_container_sgproduct img {
    max-width: 100%;
    height: 100%;
}

.element_lista a {
    color: white;
    text-decoration: none;
}

.buton_remove_article img {
    max-height: 100%;
    max-width: 100%;
}

.buton_remove_article {
    width: 75px;
    height: 75px;
    padding-left: 20px;
}

.buton_edit_article {
    width: 63px;
    height: 70px;
    padding-left: 25px;
    padding-top: 10px;
}

.buton_edit_article img {
    max-height: 100%;
    max-width: 100%;
}

.register_spatiu_erori {
    width: 100%;
    height: 30px;
    padding-top: 10px;
    font-family: serif;
    font-weight: 600;
    font-size: large;
}

.login_spatiu_erori {
    width: 100%;
    height: 30px;
    padding-top: 10px;
    font-family: serif;
    font-weight: 600;
    font-size: large;
}

.logout_message {
    font-size: 15px;
    font-family: serif;
    padding-top: 96px;
}

.hover_sold{
    background-color: beige;
    padding: 6px;
    font-family: serif;
    position: absolute;
    top: 54%;
    width: 210px;
    right: -25%;
}

.hover_edit{
    background-color: beige;
    padding: 6px;
    font-family: serif;
    position: absolute;
    top: 40%;
    width: 210px;
    right: -25%;
}

.hover_remove{
    background-color: beige;
    padding: 6px;
    font-family: serif;
    position: absolute;
    top: 13%;
    width: 210px;
    right: -25%;
}

/* PROFILE */

.container_user_info_profile{
    width: 600px;
    height: 300px;
    position: absolute;
    left: 20%;
    top: 10%;
    background-color: darkcyan;
    display: inline-flex;
}
.container_date_profile{
    width: 370px;
    display: inline-grid;
    height: 100%;
    padding-top: 15px;
}
.container_imagine_profile{
    width: 230px;
    height: 100%;
    display: block;
}
.container_imagine_profile img{
    height: 66%;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
.info_user_text{
    
    text-align: left;
    font-weight: 600;
    display: inline-flex;
}
.info_user_text img{
    height: 25px;
    padding-left: 10px;
}
.status_user{
    height: fit-content;
    margin-top: 20px;
}

.container_tranzactii{
    width: 600px;
    height: 300px;
    position: absolute;
    left: 20%;
    top: 50%;
    background-color: darkcyan;
    display: table;
}
.titlu_tranzactii{
    height: fit-content;
    width: 100%;
    padding-top: 10px;
    font-weight: 700;
    font-size: large;
    font-family: serif;
}
.container_ultimele_tranzactii{
    width: 100%;
    height: 260px;
    padding-top: 10px;
    overflow-y: auto;
}
.tranzactie{
    width: 100%;
    height: 50px;
    display: inline-flex;
    font-weight: 500;
}
.nume{
    margin-left: 20px;
    max-width: 120px;
}

/* SALE CONFIRMATION */

.confirmation_title{
    font-family: serif;
    font-size: 20px;
    margin-top: 5%;
    font-weight: 600;
}
.info_tranzactie_confirmation{
    height: 500px;
    width: 60%;
    background-color: beige;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
.buyer_info{
    width: 100%;
    height: 200px;
    display: inline-table;
    text-align: left;
    font-family: serif;
}
.product_info{
    width: 100%;
    height: 250px;
    display: inline-table;
    text-align: left;
    font-family: serif;
}
.container_agree_transaction{
    margin-top: 2%;
}
.container_butoane_agree_transaction button{
    border-radius: 11px;
    margin: 10px;
    font-size: 16px;
    background: darkred;
    color: white;
}

.text_agree_transaction{   
     font-size: 17px;
    font-weight: 700;
}
.logo_piazeta_confirmation{
    font-family: Retroholic;
    font-size: 48px;
}
.product_row{
    text-align: left;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 20px;
}
.product_row_title{
    font-size: 23px;
    font-weight: 700;
    margin-left: 30px;
    margin-top: 20px;
}
.review_app{
    display: inline-grid;
    margin-top: 18%;
    font-family: serif;
    font-size: 20px;
    font-weight: 600;
}
.review_stars{
    display: inline-block;
    width: 100px;
    position: relative;
    margin: auto;
}

.titlu_app_sidebar{
    font-family: Retroholic;
    font-size: 60px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.chatbot{
    position: absolute;
    right: 5%;
    bottom: 4%;
}
.productsFilters select{
    padding-left: 2px;
    margin-left: 10px;
}
.productsFilters{
    display: flex;
    margin-bottom: 20px;
    font-family: serif;
}

/* RESET PASSWORD */

.forgot-password-title{
    font-size: 65px;
    font-family: retroholic;
    margin-top: 5%;
}
.forgot-password form{
    display: inline-grid;
    margin-top: 50px;
}
.forgot-password input{
    margin-top: 15px;
    width: 280px;
    padding: 2px;
    height: 20px;
    background-color: navajowhite;
    border-radius: 5px;
}
.forgot-password button{
    margin-top: 10px;
    width: 160px;
    border-radius: 10px;
    justify-self: center;
    background-color: darkred;
    color: white;
    font-weight: 700;
    height: 25px;
}

.forgot_password_spatiu_erori {
        width: 100%;
        height: 30px;
        padding-top: 10px;
        font-family: serif;
        font-weight: 600;
        font-size: large;
}

/* FORGOT PASSWORD */

.reset_password_title{
    font-size: 65px;
    font-family: retroholic;
    margin-top: 5%;
}

.reset-password form{
    display: inline-grid;
    margin-top: 30px;
}

.reset-password button{
    margin-top: 20px;
    width: 160px;
    border-radius: 10px;
    justify-self: center;
    background-color: darkred;
    color: white;
    font-weight: 700;
    height: 25px;
}
.reset_password_text{
    font-family: serif;
    font-size: 20px;
    font-weight: 600;
}
.reset-password{
    width: 330px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 45px;
}
.reset-password input{
    border-radius: 10px;
    padding: 3px;
    width: 230px;
}

.reset_password_mesaj {
    width: 100%;
    height: 30px;
    padding-top: 10px;
    font-family: serif;
    font-size: large;
}
.login_forgot_password{
    font-family: serif;
    margin-top: 12px;

}
.mesaj_not_your_order{
    font-size: 25px;
    margin-top: 10%;
    font-weight: 500;
    font-family: serif;
}
.goback_not_your_order{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.container_produse_confirm_sale{
    height: 178px;
    overflow-y: scroll;
}
.product_row_product_title{
    text-align: left;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 20px;
    font-weight: 600;
}

.mailing{
    margin-top: 3%;
    height: 100%;
    width: 100%;
}
.mailing_title{
    font-size: 60px;
    font-family: Retroholic;
}
.mailing_paragraph{
    font-family: retroholic;
    font-size: 40px;
    text-align: left;
    margin-left: 230px;
    margin-top: 25px;
}
.mailing_paragraph_content{
    padding-left: 281px;
    padding-right: 50px;
    font-size: 21px;
    text-align: left;
    text-indent: 50px;
    font-family: serif;
}
.spacer {
    padding-top: 20px;
    /* padding-bottom: 25px;*/
} 
.list_element{
    text-align: left;
    margin-left: 331px;
    font-size: 17px;
    margin-top: 10px;
    font-family: serif;
}
.li{
    font-size: 18px;
    text-align: left;
    margin-left: 331px;
    font-family: serif;
    margin-top: 7px;

}
.spatiu_gol{
    height: 60px;
}
.footer_mailing{
    font-size: 18px;
    font-family: serif;
    margin-bottom: 10px;
}

.mailing a{
    text-decoration: none;
    color: black;
    font-weight: 500
}
.text_mobile_device{
    width: 100%;
    text-align: center;
    font-family: Retroholic;
    font-size: 35px;
}
.logo_mobile_devices{
    width: 100%;
    margin-top: 50px;
    text-align: center;
    font-family: Retroholic;
    font-size: 60px;
}
.text_stay_tuned{
    width: 100%;
    margin-top: 50px;
    text-align: center;
    font-family: Retroholic;
    font-size: 35px;
}
.mobile_dev{
    width: 100%;
    height: 100%;
    position: absolute;
}
.bottom_buttons{
    display: flex;
    width: 100%;
    position: fixed;
    bottom: 5%;
    font-size: 20px;
    font-weight: 600;
    color: white;
    font-family: serif;
}
.bottom_buton{
    margin: auto;
}
.bottom_buton img{
    height: 40px;
    width: 40px;
}
.button_bottom_text{
    color: white;
    font-size:70%;
}